html,body{
	height: 100%;
	font-family: 'Montserrat', sans-serif!important;
}
h1, h2 {
	font-weight: 900;
}

h3 {
	font-weight: 700;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
	border-color: #ced4da!important;
}

@media only screen and (min-width:1200px){
	.nav-item > .nav-link{padding: 5px 20px !important;
		display: block !important;}
}

@media only screen and (max-width:992px){
	.header-inner{background-color: white!important;
	}
	.nav-item > .nav-link{
		color: black!important}
		.logo{color: #000 !important;
			font-weight: 600!important;}
			.content-banner .first-title{font-size: 52px !important;
			}
	.dropdown-menu {
		right: auto;
		left: 0;
	}
	.header .dropdown-item {
		text-align: left!important;
	}
	.side-width {
		width: 100vw!important;
	}
}


.home.content-banner{
	color: #ffffff;
	background-image: url(./img/header-img.webp);
	min-height:100vh;
	height:100%;
	position: relative;
	background-position: center center;
	background-size: cover;
	padding-top: 16%;
}

.home.content-banner:before{
	position:absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0.3));
	top:0;
	left: 0;
	z-index: 1;
}

.about.content-banner{
	color: #000;
	height:100%;
	position: relative;
	padding-top: 4%;
}
#product-page .navbar-scroll {
	position:static!important;
}

.content-banner .first-title{
	font-size: 86px;
	font-weight: 900;
	line-height: 1;
	position: relative;
	z-index: 2;
}

.header{
	position: relative;
	width: 100%;
}

.header-inner{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	z-index: 99;
	background-color: transparent;
}

.navbar-brand img {
	height: 60px;
}

.nav-item .nav-link{
	display: block;
	line-height: 36px;
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	transition: 0.15s;
}

.link-bg {
	background-color: #60B946;
	color: #fff;
}

.nav-item .nav-link:hover{
	background-color: #60B946;
	color: #fff!important;
}

.navbar-scroll{
	background-color: #ffffff!important;
	padding: 0;
	position: fixed;
	top:0;
	z-index: 99;
	/*box-shadow:0px 1px 10px rgba(0,0,0,0.4);*/
	transition-duration: 0.6s; 
}

.navbar-scroll .nav-item .nav-link{
	color: #000;
	padding: 20px!important;
}
.navbar-scroll .nav-item .nav-link.active{
	color: #60B946;
}

.navbar-scroll .header-btn{
	color: #ffffff;
	background-color: #60B946;
}


.banner-btn{
	padding:0 34px;
	z-index: 1;
	margin:30px auto 25px;
	line-height: 56px;
	position: relative;
	border-radius: 6px;
	height:56px;
	font-size: 16px;
	background-color: #60B946;
	display: inline-block;
	color: #ffffff;
	transition: 0.3s;
	text-align: center;
	font-weight: 600;
}
	
	.banner-btn:hover{
	text-decoration: none;
	color:#60B946;
	background-color:white;
}


.navbar {
	padding: 0px!important;
}
nav ul li .nav-link.active{
	color:#60B946;
	font-weight: 700;
 }

 .header .nav-item .nav-link{
	padding: 20px!important;
 }


 .footer {
	color: #fff;
	padding: 4rem 0rem 1rem;
	margin-top:10rem;
 }

 .footer a {
	 color: #fff;
 }

.brand-footer {
	 padding-right: 50px;
 }
 
 .socials {
	 font-size: 28px;
 }
.socials i {
	padding-right:20px;
}

.footer .divider {
	margin-top:3em;
	margin-bottom: 2em;
	border-color: #fff;
}


.image-box {
	position: relative;
  }
  
  .image {
	display: block;
	max-width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	transition: .5s ease;
	border-radius: 10px;
	background-color: rgba(0,0,0,1);

  }
  
  
  .text {
	color: #fff;
	font-size: 28px;
	position: absolute;
	font-weight: 600;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 999;
  }

  .card-products  .row.cards {
	  margin-top: 5em;
  }
  .card-products .row .card-body{
	  padding: 2rem 1rem;
  }

  .navbar-nav li:hover>.dropdown-menu {
	display: block;
  }


.nav-item .dropdown-menu {
	margin-top:-10px;
	border:none;
	border-radius: 0px;
	background-color: #60B946;
	right: 0;
    left: auto;
}
.nav-item .dropdown-menu a{
	color: #fff;
}
.nav-item .dropdown-item:active {
	background-color: #60B946;
	}

.header .dropdown-item {
	padding: 1em 1.5em;
	text-align: right;
}

.card-products .card {
	border-color: #60B946;
}

.card-products .card-body {
	padding-top:1rem;
	padding-bottom: 1rem;
}
.card-products img {
	height: 10rem;
	object-fit: cover;
}


.container-padding {
	padding-left:15rem;
	padding-right: 15rem;
}


@media (min-width: 768px) {
	.container-width {
		max-width: 720px;
	}
	
	
}

@media (min-width: 992px) {
	.container-width {
		max-width: 960px;
	}
	
}

@media (min-width: 1200px) {
	.container-width {
		max-width: 1340px;
	}
}


@media only screen and (max-width: 425px) {
	.footer .nav-item > .nav-link {
		color: #fff;
	}
	.contact-title {
		margin-top:30px;
		text-align: center;
	}
	.side-width {
		width: 100vw!important;
	}
	.side-width-none {
		width: 0px!important;
	}
	.sidepanel .container-fluid {
		padding-left:1rem!important;
	}
	.brand-footer {
		padding-right: 25px;
		padding-left: 25px;
	}
	
	.home.content-banner .first-title{
		font-size: 38px!important;
		margin-top:100px;
	}
	
}
 
@media screen and (max-width: 786px) {
	.footer .nav-item > .nav-link {
		color: #fff!important;
	}
	.side-width {
		width: 100vw!important;
	}
	
	.side-width-none {
		width: 0px!important;
	}
	.sidepanel .container-fluid {
		padding-left:1rem!important;
	}

	.header-inner {
		background-color: transparent!important;
	}
	.header .navbar-nav {
		background-color: #fff;
	}
	.navbar-scroll{
		background-color: #ffffff!important;
	}
	
	.contact-details {
		margin-top:50px;
	}
}

.btn-green {
	color: #fff;
    background-color: #60B946;
    border-color: #60B946;
}


#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	cursor: pointer;
  }



.sidepanel  {
	width: 0;
	position: fixed;
	z-index: 9999;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidepanel a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	display: block;
	transition: 0.3s;
  }
  
  .sidepanel a:hover {
	color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
	position: absolute;
	top: 40px;
	left: 0px;
	font-size: 20px;
	color: #60B946;
  }


  .accordion .card-header {
	  border:none;
	  background-color: #FAFAFA;
	  padding-top:15px; 
	  padding-bottom: 15px;
  }
  .accordion .card-header a {
	  color: #000;
  }
  .accordion .card-header a:hover, h5:hover {
	  text-decoration: none;
	  font-weight: 700;
	  transition: all 0.25s;
	  cursor: pointer;
  }
  .accordion .card {
	  border:none;
  }

  .accordion .card-body {
	  background-color: #FAFAFA;
	  padding-top:5px;
	  padding-bottom: 5px;
  }
  .accordion .card-body .sub-menu {
	  font-size: 16px;
	  color: #111;
	  padding-top:10px;
	padding-bottom: 10px;
	padding-left:15px;
  }
  .accordion .card-body .sub-menu:hover{
	font-weight: 700;
	text-decoration: none;
}

.accordion a.active {
	font-weight: 700;
	color: #60B946;
}

.product-image {
	border:1px solid #60B946;
	border-radius: 10px;
	height: 20rem;
	width: 100%;
	object-fit: cover;
}

.card-products .card {
	transition: all 0.2s ease-in-out; 
}
.card-products .card:hover {
	transition: all 0.2s ease-in-out;  
	transform: scale(1.1);
}

.image-box {
	transition: all 0.2s ease-in-out;  
}


.image-box:hover {
	transition: all 0.2s ease-in-out;  
	transform: scale(1.1);
}

.card-products a {
	color: #000;
	text-decoration: none !important;
}



.sidepanel .container-fluid {
	padding-left:5rem;
	padding-top:50px;
}





.product-description {
	padding-top:5px;
	line-height: 1.8;
}

.product-text-list li{
	margin-top: 10px;
}


.dropdown a {
	background-color:#fff transparent !important; }



#product-image-group .zoom-icon {
	position:absolute!important;
	bottom:10px; 
	right:30px; 
	color: #60B946;
}




.side-width {
	width: 70vw;
}

.side-width-none {
	width: 0px!important;
}



.modal-dialog {
	max-width: 1000px;
	margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
background:transparent;
}

.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}


.btn-secondary, .btn.btn-secondary.focus,
.btn.btn-secondary:focus, .btn.btn-secondary.active,
.btn.btn-secondary:active {
    color: #fff;
    background-color: #60B946;
    border-color: #60B946;

}

.product-description {
	text-align: justify;
}





.product-category-dropdown .dropdown-item {
	font-size:14px!important;
	white-space: normal!important;
}

.product-category-dropdown {
	
	will-change: auto!important;
	transform: none!important;
	top: 40px!important;
}






